.header {
  display: flex;
  justify-content: space-between;
  column-gap: 3rem;
  background-color: #000;
  padding: 2.8rem 2rem;
}
.header__logo{
  display: flex;
  justify-content:center;
  align-items: center;
  width: 70px;font-size: 3rem;
  line-height: 3.2rem;
  color: #fff;
  height: 70px;
  background-image: url('../../assets/icons/logo/x.svg');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
