.contact-card{
	max-width: 200px;
	width: 100%;
	padding: 1.5rem 1.2rem;
	border: 3px solid #d0a115;
}
.contact-card__title{
	color: #fff;
	font-size: 2.4rem;
	line-height: 2.8rem;
	text-align: center;
}
.contact-card__data{
	display: flex;
	flex-direction: column;
	row-gap: 1.4rem;
	color: #03dddd;
	font-size: 1.8rem;
	line-height: 2rem;
}
.contact-card__data-img{
	width: 100%;
}