.search-wrapper {
  --border-color: #8f51ce;
  position: relative;
  display: flex;
  column-gap: 4rem;
  padding: 2rem 3rem;
  border-top: 4px solid var(--border-color);
  border-bottom: 4px solid var(--border-color);
}
.search-wrapper::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 40%;
  background-color: #9a29ae;
  left: 0;
  bottom: 0;
}
.search-wrapper::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 40%;
  background-color: #982287;
  right: 0;
  top: 0;
}
.search__input {
  padding: 10px 28px 10px 8px;
  font-size: 1.8rem;
  line-height: 2rem;
  font-style: italic;
  border: 2px solid #554466;
  border-radius: 30%;
  color: #49a2d1;
  background-color: rgba(143, 87, 199, 0.7);
  background-image: url('../../assets//icons/search-loop/search-loop.svg');
  background-repeat: no-repeat;
  background-position: right center;
}
.search__input::placeholder{
    color: #5fb3e0;
}
.search__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 30px;
  background-color: #9d81b9;
  border-radius: 50%;
  color: #ddd5d5;
  cursor: pointer;
}
.search__btn:focus {
  outline: none;
  box-shadow: none;
}
