.contact-us__title {
  padding: 2rem 1rem;
  text-align: center;
  font-size: 3rem;
  line-height: 3.2rem;
  color: #4bbab8;
}
.contact-us__cards-inner {
  display: flex;
  column-gap: 2rem;
  row-gap: 3rem;
  flex-wrap: wrap;
  padding: 3rem 3.2rem;
}
